<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523743085334-7du6s00selms0mvq0a5ua6qcc289f1dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523743085334-7du6s00selms0mvq0a5ua6qcc289f1dc</string>
	<key>API_KEY</key>
	<string>AIzaSyA61Rsv7UjZiHz5CoCT4DqP10WPFAdxKgo</string>
	<key>GCM_SENDER_ID</key>
	<string>523743085334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TheBlackPL.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>shoppingapp-9a27d</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingapp-9a27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523743085334:ios:7db278abf4655a74dcc637</string>
</dict>
</plist>